body {
    font-family: Arial, sans-serif;
    background-image: url('githubwallpaper.png'); /* Updated to PNG */
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the background fixed while scrolling */
    margin: 0;
    padding: 20px;
}
 
.container {
    max-width: 600px;
    margin: auto;
    background: rgba(255, 255, 255, 0.5); /* Set background to be transparent */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 
h1 {
    text-align: center;
}
 
#welcome-message {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
    padding: 10px;
    margin-bottom: 20px;
}
 
input {
    width: calc(100% - 20px); /* Adjust width to fit in the container */
    padding: 10px;
    margin: 10px 0; /* Maintain vertical margin */
}
 
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
 
button:hover {
    background-color: #0056b3;
}
 
#profile-info {
    margin-top: 20px;
}
