/* Global styles for all elements */
* {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
}

/* Apply font family to all elements except <i> */
*:not(i) {
    font-family: "Poppins", sans-serif; 
}

/* Styles for the body element, including background image and color */
body {
    background-image: url('backgroundpic.jpg'); 
    background-size: cover; 
    background-position: center top; 
    background-repeat: no-repeat; 
    background-color: #f0f0f0; 
}

/* Styles for the main container, including positioning and padding */
.container {
    background-color: transparent; 
    width: 90vmin; 
    position: absolute; 
    transform: translate(-50%, -50%); 
    top: 50%; 
    left: 50%; 
    padding: 80px 50px; 
    border-radius: 10px; 
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2); /* Shadow effect */
}

/* Styles for the search box layout */
.search-box {
    width: 100%; 
    display: flex; 
    justify-content: space-between; 
}

/* Styles for the search input field */
.search-box input {
    padding: 5px; 
    width: 70%; 
    border: none; 
    outline: none; 
    border-bottom: 3px solid #ae9cff; 
    font-size: 16px; 
}

/* Styles for the search button */
.search-box button {
    padding: 15px 0; 
    width: 25%; 
    background-color: #ae9cff; 
    border: none; 
    outline: none; 
    color: #ffffff; 
    border-radius: 5px; 
}

/* Styles for the result section */
.result {
    position: relative; 
}

/* Styles for result headings */
.result h3 {
    font-size: 30px; 
    color: #1f194c; 
}

/* Styles for the word display */
.result .word {
    display: flex; 
    justify-content: space-between; 
    margin-top: 80px; 
}

/* Styles for buttons in the result section */
.result button {
    background-color: transparent; 
    color: #ae9cff; 
    border: none; 
    outline: none; 
    font-size: 18px; 
}

/* Styles for details in the result section */
.result .details {
    display: flex; 
    gap: 10px; 
    color: #b3b6d4; 
    margin: 5px 0 20px 0; 
    font-size: 14px; 
}

/* Styles for word meanings */
.word-meaning {
    color: #575a7b; 
}

/* Styles for word examples */
.word-example {
    color: #575a7b; 
    font-style: italic; 
    border-left: 5px solid #ae9cff; 
    padding-left: 20px; 
    margin-top: 30px; 
}

/* Styles for error messages */
.error {
    margin-top: 80px; 
    text-align: center; 
}
